@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');

@mixin button-style($size)
{
    button {
        background-color:  #08FFC4  !important;
        width: 200px;
        border-radius: 2rem !important;
        font-size: $size !important;
        color: #161615 !important;
        font-family: 'Roboto', sans-serif !important;
        border: none !important;
        
        font-weight: 700 !important;
    }
    
    button:hover {
        background-color: rgba($color: #08FFC4, $alpha: .5) !important;
    }
    
}

body {
    background: linear-gradient(277.09deg, #313545 15.4%, #121118 100.07%);
    position: relative;
}

.change-color
{
    background-color: rgba($color: #000000, $alpha: .6);
    transition: ease-in-out .3s;
}



header, main, .first-page
{
    max-width: 1440px;
}

header 
{
    margin: 0 auto;
}



.active, .nav-item:hover
{

        background-color: #3135457a;
        padding: 0rem .5rem;
        border-radius: 2rem;
        transition: ease-in .2s;
        @media screen and (max-width: 991px)
        {
            text-align: center;
        }
}




.logo
{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 16px;
    svg:hover
    {
        rect 
        {
            stroke: rgba($color: white, $alpha: .5);
            transition: ease-in-out .3s;
        }
        path 
        {
            fill: rgba($color: white, $alpha: .5);
            // transition: ease-in-out .1s;
        }
    }
    .name 
    {
        font-family: 'Roboto', sans-serif;
       p 
       {
           width: 200px;
           margin: 0;
           padding-left: 1rem;
           color: #fffffe;
       }
       p:nth-child(1)
       {
           font-weight: 500;
       }
       p:nth-child(2)
       {
           font-size: 13px;
       }
    }
}

    nav
    {
        margin-top: 1rem;
        .navbar-toggler
        {
            padding-right: 0;
            border: none !important;
        }
        .navbar-collapse
        {
             padding-top: 1rem;
        }
        span, .custom
        {
            @include button-style(18px);
        }

        ul {
            width: 350px;
            display: flex;
            
            font-family: 'Roboto', sans-serif;
        
                justify-content: space-evenly;
            
            .nav-item
            {
                width: 100px;

                text-align: center;
                @media screen and (max-width: 991px)
                {
                    text-align: left;
                    margin: .3rem 0;
                }
            }
        
            a {
                padding: 5px 0 !important;
                
            }
        }
        
    }
main
{
    min-height:90vh;
    display: grid;
    place-items: center;
}



  

.hero-container {

    @include button-style(20px);
    height: auto;
    display: grid;
    place-items: center;
    .hero {
        display: flex;
        justify-content: center;

        @media screen and (min-width: 1200px) {
            justify-content:center;
            margin-top: 0rem;
        }
    }

    .hero-text {
        max-width: 558px;
       height: auto;
        // background-color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Roboto', sans-serif;

        h1 {
            font-size: 68px;
            color: #F4F4F4;
            font-weight: 900;
            line-height: 91px;
            @media screen and (max-width: 500px) 
            {
                font-size: 52px;   
                line-height: 72px;
            }
        }

        p {
            font-size: 20px;
            color: #919191;
            line-height: 33px;
        }
    }
    .img-container {
        display: flex;
        justify-content: center;
        img {
            width: auto;
            height: auto;
            filter: drop-shadow(15px 5px 0 rgba(0, 0, 0, 0.25));
        }
    }
}


.projects-container
{
    margin-top: 2rem;
    .project-01-img-container
    {
        @media screen and (max-width: 500px)
        {
            padding: 0;
            margin: 0;
        }
    }
    .project-info
    {
        padding: 0 2rem;
        @media screen and (max-width: 800px) 
        {
            padding: 0;
        }
    }
    h4 
    {
        font-size: 20px;
        font-weight: 500;
        color: #8591FF;
    }
    // margin-top: 5rem;
    height: auto;
    // background-color: #F4F4F4;
    color: #f4f4f4;
    .project-about
    {
        background-color: #8591FF;
        padding: 2rem 2rem;

        margin: 0 auto;
        img 
        {
            border-radius: 12px;
        }
    }
    .description 
    {
        display: flex;
        align-items: center;
        @media screen and (max-width: 1000px) 
        {
            justify-content: center;    
            margin-top: 2rem;
        }
    }
    .project-description
    {
        max-width: 500px;
        margin: 0 auto;
        @media screen and (max-width: 900px) 
        {
            margin: 0 0;    
        }
        font-family: 'Roboto', sans-serif;
        span 
        {
            font-size: 16px;
        }
        h2
        {
            font-size: 33px;
            font-weight: 700;
        }
        p 
        {
            font-size: 1rem;
            line-height: 27px;
        }
    }

    .color-items
    {
    
        .color-info
        {
            display: flex;
            align-items: center;
            height: auto;
            margin:1rem 0;
            .color-circle
            {
                height: 33px;
                width: 33px;
                border-radius: 16.5px;
                margin-right: .5rem;
            }
            .info
            {
                p 
                {
                    margin: 0;
                    font-weight: 400;
                    color: #f4f4f4;
                }
            }
        }
 
    }


    .font-weight
    {
        max-width: 500px;
        display: grid;
        grid-template-columns: 80px 80px;
        grid-template-rows: 1fr 1fr 1fr;
        font-size: 1rem;
        li:nth-child(1)
        {
            font-weight: 900;
        }
        li:nth-child(2)
        {
            font-weight: 700;
        }

        li:nth-child(3)
        {
            font-weight: 500;
        }

        li:nth-child(4)
        {
            font-weight: 400;
        }

        li:nth-child(5)
        {
            font-weight: 300;
        }


    }

    .font-scale
    {
        display: grid;
        li:nth-child(2)
        {
            font-size: 42px;
        }
        li:nth-child(3)
        {
            font-size: 33px;
        }
        li:nth-child(4)
        {
            font-size: 26px;
        }
        li:nth-child(5)
        {
            font-size: 20px;
        }
        li:nth-child(6)
        {
            font-size:16px;
        }

    }

    .category-colors
    {
        .test-2
        {
            min-height: 130px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 60px 50px;
            @media screen and (max-width: 1000px) 
            {
                grid-template-columns: 1fr;
                grid-template-rows: 50px 50px 50px 50px;
            }
        }
    }

}

.resume-container   
{
    color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid rgba($color: white, $alpha: .5);
  .exp 
  {
      padding-top: .3rem;
    color: #919191;
  }
    .skill-name
    {
        width: 256px;
        // background-color: #313545;
        position: relative;
        font-family: 'Roboto', sans-serif;
        p 
        {
            margin-bottom: .2rem;
            font-size: 1rem;
            color: #F4F4F4;
            font-weight: 500;
        }
        span 
        {
            position: absolute;
            right: 0;
            top: 0;
            color: #919191;
        }
    }
    .progress-bar-custom
    {
        height: 6px;
        width: 256px;
        border:  1px solid #8591FF;
        border-radius: 5px;
        .progress-percent  
        {
            height: 100%;
            width: 80%;
            border-radius: 3px;
            background-color: #8591FF;
        }
    }
    .about-me 
    {
        
        height: auto;

        // background-color: #8591FF;
        max-width: 450px;
        font-family: 'Roboto',sans-serif;
        h3
        {
            font-size: 28px;
            color: #F4F4F4;
            margin-bottom: .5rem;
            font-weight: 700;
            line-height: 42px;
        }
        p
        {
            font-size: 1rem;
            color: #f4f4f4;
            line-height: 27px;
            margin-top: .3rem;
            letter-spacing: 1.5px;
        }
        button 
        {
            margin-top: 1rem;
        }
        @include button-style(20px);
    }
}

.school-content
{
    
    h3
    {
        font-size: 25px;
        color: #f4f4f4;
        font-weight: 700;
    }
    ul 
    {
        h4
        {
            font-size: 1rem;
            color: #919191;
            margin-bottom: 0;
            font-weight: 400;
        }
        li:nth-child(2)
        {
            font-size: 25px;
            color:  #8591FF;
            font-weight: 500;
        }
        li:nth-child(3)
        {
            font-size:1rem;
            color: #919191;
        }
    }


}

.category-color-items-2
{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.play
{
    font-family: 'Playfair Display', serif;

}

// .project-about
// {
//      height: 450px;
//      .project-img-01
//      {
//          height: 450px;
//          img 
//          {
//              height: 100%;
//              width: 100%;
//          }
//      }
//      @media screen and (max-width: 1000px)
//      {
//          height:auto;
//      }
//      .project-img-01
//      {
//         height:auto;
//          img 
//          {
//             height:auto;
//          }
//      }
// }

.project-2 
{
    border-top: 1px solid rgba($color: white, $alpha: .5);
    padding-top: 3rem;
}